.App {
	display: flex;
	flex-direction: column;
	header {
		text-align: center;
	}
	.search-bar {
		display: flex;
		justify-content: center;
		align-items: center;
		input[type='submit'] {
			background-image: url('./Arrow.png') ;
		}
		input[type='text'] {
			padding: 5px;
			width: 250px;
			border: 1px solid gray;
			margin-left: 5px;
		}
	}
	.listings {
		display: flex;
		justify-content: space-evenly;
		text-align: center;
		.house {
			margin: 15px 0px;
			padding: 15px;
			border: 1px solid gray;
			border-radius: 10px;
		}
	}
}
